/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/.gitignore
/.idea/CodeLuanVan.iml
/.idea/modules.xml
/.idea/php.xml
/.idea/phpunit.xml
/.idea/vcs.xml
